:root {
  --bg-color: #e5e5e5;
  --header-color: #ffffff;
  --text-color: #000000;
  --text-color-secondary: #666666;
  --todo-bg-color: #ffffff;
  --border-color: #93a9ff;
  --button-color: #93a9ff;
  --svg-filter: invert(83%) sepia(49%) saturate(1%) hue-rotate(346deg)
    brightness(100%) contrast(104%);
}

:root.darkmode {
  :root {
    --bg-color: #181824;
    --header-color: #ffffff;
    --text-color: #ffffff;
    --text-color-secondary: #999999;
    --todo-bg-color: #25273c;
    --border-color: #93a9ff;
    --button-color: #93a9ff;
  }
}

@font-face {
  font-family: "Kanit";
  src: url("./assets/fonts/Kanit-Regular.ttf") format("ttf");
}

svg {
  fill: #000000;
}

body {
  background-color: var(--bg-color);
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-size: 100vw 25vh;
  background-position: center top;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 5vh auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--header-color);
}

.title {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
}

.toggle {
}

.background {
  background: var(--todo-bg-color);
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.addTodo {
  background: var(--todo-bg-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 0px 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  padding: 0.5em;
  outline: none;

  border: 2px solid var(--border-color);
  border-radius: 999px;
}

.button {
  border: 2px solid var(--border-color);
  background: var(--button-color);
  border-radius: 999px;
}

.todoList {
  background: var(--todo-bg-color);
  width: 100%;
  min-height: 400px;
}

.emptyTodo {
  background: var(--todo-bg-color);
  width: 100%;
  height: 400px;

  padding-top: 10%;
  color: var(--text-color);
}

.emptyTodo > img {
  filter: var(--svg-filter);
}

.todoLabel {
  display: flex;
  align-items: center;
}

.todoLabel > input {
  margin-right: 0.5em;
}

.todoTextCompleted {
  text-decoration: line-through;
  color: var(--text-color-secondary);
}

.todo {
  border: 1px solid var(--text-color-secondary);
  border-radius: 8px;
  margin: 1em;
  padding: 1em;
  text-align: left;
  vertical-align: middle;
  color: var(--text-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}

.todo:hover {
  opacity: 0.6;
}

.deleteTodo {
  display: none;
}

.deleteTodo {
  filter: var(--svg-filter);
}

.deleteTodo:hover {
  opacity: 0.6;
}

.footer {
  color: var(--text-color);
  text-align: right;
  margin: 1em;
}
